 

 <div class="row">
                <!-- Grid column -->
                <div class="col-md-3"></div>
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center default-text py-3"><i class="fa fa-lock"></i> Login:</h3>
                            <!--Body-->
                            <div class="md-form">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input type="text" id="defaultForm-email" ng-model="user_name" class="form-control">
                                
                            </div>
                            <div class="md-form">
                                <i class="fa fa-lock prefix grey-text"></i>
                                <input type="password" id="defaultForm-pass" ng-model="pass" class="form-control">
                                
                            </div>
                            <div class="text-center">
                                <button class="btn btn-default waves-effect waves-light" ng-click="submit()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
</div>
