 
/*
Dtatable Style
==============================*/


/*select style*/



.select {
  position: relative;
  display: block;
  height: 3.4em;
 
  width: 100%;
  padding: 10px;
  background: var(--bg-color);
  color: var(--font-color);
  overflow: hidden;
  border-radius: .25em;
  display: inline-block;
  display: -webkit-inline-box;
  border: 1px solid #667780;
  margin: 0.5em 0em 1em 0em;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}
.select:hover::after {
  color: #f39c12;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.btn_select{
  position: relative;
  display: block;
  height: 3.5em;
 
  width: 100%;
  padding: 10px;
  background: var(--bg-color);
  color: var(--font-color);
  overflow: hidden;
  border-radius: .25em;
  display: inline-block;
  display: -webkit-inline-box;
  border: 1px solid #667780;
  margin: 0.5em 0em 1em 0em;
}


/*end success alert*/
 .modal-backdrop
{
    opacity: 0.8 !important;
}

    
.button {
  background-color: var(--bg-color);
  color: var(--font-color);
  border-width: 0px;
  padding:12px;
  border-radius: 5px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}


 thead{
   background-color: var(--bg-color);
  border-width: 2px;
  color: var(--font-color);
  border-style: solid;
  border-color: var(--bg-color);
  }
 tbody{
    background-color: #ffffff;
 }

/*alert*/

/*
Model Style
==================
*/

.model_header{
   background-color: var(--bg-color);
   color: var(--font-color);
}

.model_footer{

}
.model_body{

}

/*
Box
=============================
*/

.header_box{
        background-color: #414959;
        padding: 10px;
        font-weight: bold;
        color: #ffffff;
        font-size: 16px;
        }


.box_body{
        background-color: #EEEEEE;
        border: 1px solid #414959;
        padding: 20px;
        }

    .head_id{
        background-color: #414959;
        padding: 15px;
        margin-left: 80px; 
    }

    .box_overview{
        background-color: #ffffff;
        padding: 15px;
        font-weight: bold;
        font-size: 20px;
    }

    .footer-style{
        background-color: var(--bg-color);
        padding: 15px; 
        font-family: sans-serif;
        font-size: 15px;
        color: var(--font-color);
    }

    /*
 start side bar css ==============================================
    */

.sidebar-toggle-action {
    color: var(--font-color);
    font-size: 28px;
    display: inline-block;
    padding-left: 5px; 
    cursor: pointer;
    transition: 0.5s;
}



.user-head .inbox-avatar {
    float: left;
    width: 65px;
}

.user-head .inbox-avatar img {
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0.2);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}
.user-head .user-name {
    display: inline-block;
    margin: 0 0 0 0px;
}
.user-head .user-name h5 {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 15px;
}
.user-head .user-name h5 a {
    color: #fff;
}
.user-head .user-name span a {
    color: #87e2e7;
    font-size: 12px;
}

.name { 
    margin: 0;
    font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: var(--font-color);
}

.side-user {
    display: block;
    width: 100%;
    padding: 15px;
    border-top: none !important;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    height: 90px;
    overflow: hidden;
}

.btn_toggle{
    background-color: var(--bg-color);
    border-width: 1px;
    border-radius: 10%;
    width: 50px;
    padding: 0px;
    margin-right: -5px;
}



.sidebar-nav {
  width: 240px;
  position: absolute;
  overflow: hidden;
  float: left;
  border-top: none;
  border-left: none;
  margin: 0em;
}



.sidebar-nav ul {
  list-style: none;
  padding-left: 0px;
  overflow: hidden;
}
.sidebar-nav li a .fa-caret-right {
  color: var(--font-color);
  padding-right: .50em;
}

.sidebar-nav .nav-header {
  
  border-bottom: 1px solid rgba(0,0,0,0.1);
  background: var(--bg-color);
  border-left: 0px;
  color: var(--font-color);
  display: block;
  font-weight: normal;
  font-size: 1em;
  line-height: 2.6em;
  padding: .50em .5em .5em 1em;
  margin-bottom: 0px;
  text-transform: none;

}

.sidebar-nav .nav-header .label {
  float: right;
  margin-top: .5em;
  margin-right: .25em;
  line-height: 1.5em;
}
.sidebar-nav .nav-header:hover,.sidebar-nav .nav-header:focus {
  background-color: rgba(0,0,0,0.2);
  color: var(--font-color);
}

.sidebar-nav .nav-header.collapsed .fa-collapse::before {
  content: "\f078";
}
.sidebar-nav .nav-header .fa-collapse::before {
  content: "\f077";
}
.sidebar-nav .nav-header .fa-collapse,
.sidebar-nav .nav-header .fa-collapse {
  float: right;
  margin-right: 15px;
}
.sidebar-nav .nav-header .label {
  float: right;
  margin-top: .7em;
  line-height: 1.5em;
}
.sidebar-nav .nav-header i[class*="fa-"] {
  line-height: 2.25em;
  padding-right: .75em;
}

.sidebar-nav .nav-list {
  margin: 0px;
  border: 0px;
  background: rgba(255,255,255,0.2);
  padding: 0px;
  color:  var(--font-color);

}

.sidebar-nav .nav-list  > li > a:hover {
  background-color: rgba(0,0,0,0.2);
}

.sidebar-nav .nav-list  > .active > a,
.sidebar-nav .nav-list  > .active > a:hover{
  text-shadow: none;
  background-color: rgba(0,0,0,0.2);
  border-top: 1px solid #1F262D;
  border-bottom: 1px solid #1F262D;
}
.sidebar-nav .nav-list li:first-child.active a {
  border-top: 0px;
  background-color: rgba(0,0,0,0.2); 
}
.sidebar-nav .nav-list li:last-child.active a {
  border-bottom: 0px;
}
.sidebar-nav .nav-list  > li:hover {
  border-left: 0px solid #8989a6;
  overflow: hidden;
}
.sidebar-nav .nav-list  > li:hover a {
  margin-left: -4px;
}
.sidebar-nav .nav-list  > li:focus a {
  margin-left: -4px;
  background-color: rgba(0,0,0,0.2);  
}

.sidebar-nav .nav-list  > .active {
  overflow: hidden;
  border-left: 4px solid #8989a6;
}
.sidebar-nav .nav-list  > .active a {
  margin-left: 4px;
  background-color: #c3c3d2;
}
.sidebar-nav .nav-list  > .active > a:hover {
  background: #c3c3d2;
}
.sidebar-nav .nav-list  > li > a {
  color:  var(--font-color);
  padding: 0.8em 1em;
}
.sidebar-nav .nav-list.collapse.in {
  border-bottom: 1px solid #1F262D;
}

@media (max-width: 768px) {
  .btn_toggle {
    float: left;
  }
}

    /*end sidebar css*/
